.inicio {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    justify-content: center;
    gap: 1rem;
}

.inicio h2 {
    text-align: center;
}

.mapa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    border: var(--negro) solid 0.25rem;
    border-radius: 1rem;
    /* oculta lo que sobresale del contenedor en este caso las esquinas de la imagen */
    overflow: hidden;
}

.mapa iframe {
    width: 100%;
}

.mapa p {
    padding: 1.5rem;
    justify-content: center;    
}

@media (max-width: 780px) {
   .mapa {
        width: unset;
        grid-template-columns: 1fr;
        border-radius: unset;
        border: none;
    }
}